<main class="form-signin w-100 m-auto">
    <form #formLogin="ngForm" (ngSubmit)="onLogin()">
        <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
        <h1 class="h3 mb-3 fw-normal">{{titulo}}</h1>
        <div class="form-floating">
            <input type="email" name="username" #username="ngModel" [(ngModel)]="usuario.username" class="form-control" id="floatingInput" placeholder="Usuario" ngModel required>
            <label for="floatingInput">Username</label>
            <span *ngIf="!username.valid && username.touched">El Nombre de Usuario Es Obligatorio</span>
        </div>
        <div class="form-floating">
            <input type="password" name="password" #password="ngModel" [(ngModel)]="usuario.password" class="form-control" id="floatingPassword" placeholder="Password" ngModel required>
            <label for="floatingPassword">Password</label>
            <span *ngIf="!password.valid && password.touched">La Contraseña Es Obligatoria</span>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
</main>