<h1 class="animated fadeIn">{{ usuario.nombreCompleto | uppercase }}</h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img width="300px" height="350px" [src]="url_files+usuario.urlFoto" class="img-fluid" [alt]="usuario.nombreCompleto">
        <br><br>
        <br><br>
        <a [routerLink]="['/home']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-md-8">
        <h3>{{ usuario.profesion }}</h3>
        <hr>
        <p>
            {{ usuario.descripcionServicio }}
        </p>
    </div>
</div>